<footer class="container-fluid bg-dark text-secondary pt-3 footer">
  <div class="row w-75 mx-auto">

    <div class="col-sm-8">
      <h5>{{ site.thanks }}</h5>
      <p>{{ site.title }} – {{ site.jobtitle }}</p>
      <p>{{ site.copyright }}</p>
    </div>

    <div class="col text-right">
      <h5>Follow me!</h5>
      <ul class="list-inline">
        <li class="list-inline-item">Instagram</li>
        <li class="list-inline-item">E-mail</li>
      </ul>
    </div>

  </div>
</footer>
<script>
	var scroll = new SmoothScroll('a[href*="#"]');
</script>
