{% for post in site.posts %}

<div class="modal fade" id="{{ post.project_name | url_encode }}-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ post.project_name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-7">
            {% include portfolio_carousel.html images=post.images project_name=post.project_name %}
          </div>
          <div class="col px-2 text-left">
            {{ post.content }}
          </div>
        </div>
        <hr class="bg-primary">
        <div class="row">
          <div class="col text-left text-dark">
            {% if post.client %}
            <p><span class="font-weight-bold">Client:</span> {{ post.client }}</p>
            {% endif %}
            {% if post.materials %}
            <p><span class="font-weight-bold">Meterials:</span> {{ post.materials }}</p>
            {% endif %}
            {% if post.fecha %}
            <p><span class="font-weight-bold">Date:</span> {{ post.fecha }}</p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endfor %}
