header {
  background-image: url("brand/header.jpg");
  background-repeat: repeat-x;
  background-size: cover;
  background-position: center;
  height: 100vh;

  padding-top: $spacer*5;

  text-shadow: 2px 2px 20px $black;

  .intro-welcome {
    font-size: $spacer*2;
    font-family: "Pacifico", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .brand-heading {
    font-size: $spacer*9;
    line-height: $spacer*9;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .tagline {
    font-size: $spacer*2;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .page-scroll {
    svg {
      height: 75px;
      fill: rgba(theme-color(primary), 0.5);
    }
  }

}
