---
---
@import "variables";
@import "bootstrap/bootstrap";
@import "bootstrap/bootstrap-grid";
@import "bootstrap/bootstrap-reboot";
@import "footer";
@import "card-overlay";

hr {
  width: 120px;
  border-width: 6px;
  margin-bottom: 30px;
}
