---
---
@import "variables";
@import "bootstrap/bootstrap";
@import "bootstrap/bootstrap-grid";
@import "bootstrap/bootstrap-reboot";
@import "footer";
@import "portfolio";
@import "header";

body {
  color: $gray-700;
}

hr {
  width: 120px;
  border-width: 6px;
  margin-bottom: 30px;
}

.navbar {
  background-color: rgba($gray-900, 0.5);
  width: 100%;
}

.navwrapper {
  margin-top: 7vh;
}
