---
---
@import "variables";
@import "bootstrap/bootstrap";
@import "bootstrap/bootstrap-grid";
@import "bootstrap/bootstrap-reboot";
@import "footer";
@import "card-overlay";
@import "header";

hr {
  width: 120px;
  border-width: 6px;
  margin-bottom: 30px;
}

#portfolio {
  min-height: 90vh;
}

.navbar {
  background-color: rgba($gray-900, 0.5);
  width: 100%;
}
